
body {
    font-family: 'Courier New', Courier, monospace;
    color: lightcoral;
    text-align: center;
}


/* .header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: navy;
    background-color: lightpink;
  } */